<nav class="top-nav">
	<div class="container">
		<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
			<li class="logo">
				<a href="home.html" class="waves-effect waves-teal">Logo</a>
			</li>
			<li class="bold">
				<%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
			</li>
			<li class="bold" id="recent_activity">
				<a href="about.html" class="waves-effect waves-teal">About</a>
			</li>
			
		</ul>
	</div>
</nav>