 <%= render "nav_bar" %>
<div class="row">
  <div class="col s06 offset-s5">
		<h1>Items</h1>
		<p>Find me in app/views/home/index.html.erb</p>
		<% if @user %>
			<h1>Email: <%= @user.email %></h1>
		<% end %>
		<%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
	</div>
</div>

