<%= render(partial: 'nav_bar') %>
<div class="row">
  <div class="col s08 offset-s4">
  	<div>
			<h3 class="center-align">Account</h3>
		</div>
		<% if current_user %>
			<h6> Hello <%= current_user.my_last_name %></h6>
		<% end %>
	</div>
</div>
<div class="row hide" id="recent_activity_list">
  <div class="col s08 offset-s4">
    <ul id="staggered-recent">
    <h3> Recent Activity</h3>
    <% @recent_activity.each do |item| %>
      <li class="item">
        <P><%= item.combined %></P>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<div class="row hide" id="view_items_list">
  <div class="col s08 offset-s4">
    <h3> Items </h3>
    <ul id="staggered-items">
    <% @view_items.each do |item| %>
      <li class="item">
        <P><%= item.combined %> <</P>
      </li>
    <% end %>
    </ul>
  </div>
</div>





